.menu-bar .menu .label{
    -fx-text-fill:#FFFFFF;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
}

.menu-bar .menu .menu-item .label{
    -fx-text-fill: #000000;
    -fx-font-size: 14px;

}
.menu-bar{
    -fx-background-color: #065325;
    -fx-border-color: white;
}

.menu-bar .menu:hover{
    -fx-background-color: #06974e;
}

.menu-bar .menu .menu-item:focused .label{
    -fx-text-fill:#FFFFFF;

}
.menu-bar .menu .menu-item:focused{
    -fx-background-color:#065325;
}
.menu-bar .menu:showing{
    -fx-background-color: #065325;
}